.contme-container {
    min-width: 100vw;
    height: 100vh;
    background-color: grey;
}

.contme-bottom-container {
    width: 60vw; 
    height: 60vh;
}

.item-container {
    width: 100%;
}

.links-container {
    padding: 50px 0px 50px 50px;
    width: 400px;
}

.contme-hyperlink-cont {
    height: 100%;
}

#top-section {
    min-height: 10vh;
}

#bottom-section {
    min-height: 90vh;
}