::-webkit-scrollbar {
    display: none;
}

.add-border {
    border: 2px red solid;
}

.segment-formatting {
    padding-top: 50px;
    padding-bottom: 50px;
}

/*#overflow-1 {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding-right: 20px
}

#overflow-2 {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}*/